<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <!-- <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary">Share</button>
          <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div> -->
    </div>
<br>
    <div class="row"> 
      <div class="card text-center" style="width: 15rem; margin-right: 1.5rem">
        <div class="card-body">
          <h5 class="card-title">Add a New Loan</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/form1" class="btn btn-primary">Add</a>
        </div>
      </div>

      <div class="card text-center" style="width: 15rem; margin-right: 1.5rem;">
        <div class="card-body">
          <h5 class="card-title">All Loan Applications</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/admin/loan-application" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card text-center" style="width: 15rem; margin-right: 1.5rem">
        <div class="card-body">
          <h5 class="card-title">Active Loans</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/admin/loans" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card text-center" style="width: 15rem; margin-right: 1.5rem">
        <div class="card-body">
          <h5 class="card-title">Recive Payments</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/admin/collections" class="btn btn-primary">Payment</a>
        </div>
      </div>
    </div>

    <br>
  
    <div class="row"> 
      <div class="card text-center" style="width: 15rem; margin-right: 1.5rem">
        <div class="card-body">
          <h5 class="card-title">All Borrowers List</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/admin/borrowers" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card text-center" style="width: 15rem; margin-right: 1.5rem;">
        <div class="card-body">
          <h5 class="card-title">All Granters List</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/admin/granters" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card text-center" style="width: 15rem; margin-right: 1.5rem">
        <div class="card-body">
          <h5 class="card-title">Employee Management</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/admin/employee" class="btn btn-primary">Manage</a>
        </div>
      </div>

      <div class="card text-center" style="width: 15rem; margin-right: 1.5rem">
        <div class="card-body">
          <h5 class="card-title">User Management</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="/admin/user" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>

    
    
    

  </main>
